VITE_API_BASE_URL=http://127.0.0.1:8000/api/v1

VITE_ZALO_APP_ID=app_id_cua_ban
VITE_ZALO_REDIRECT_URI=https://kg.duyhung.io.vn/login/zalo
VITE_ZALO_CodeVerifier=chars_random_cho_code_verifier
VITE_ZALO_State=chars_random_cho_state